h3 {
    font-size: 8vw;
}

.parallax-container {
    height: auto;
    width: auto;
}

.iconlogo{
    font-weight: 800;
    padding-left: 10px;
}
.divti{
    color: #020303;
    font-weight: 700;
}

body{
    background-color: grey;
}


.card-image{
    height: 200px;
}

.cardtitle{
    font-size: 30px;
}

.sitetitle{
    font-family: 'Libre Baskerville', serif;
}

.gitnasabinicaloy{
    font-size: 3vw;
}

#social-buttons:hover {
    color: #C62828 !important;
}
#social-buttons-footer:hover {
    color: #212121 !important;
}